<ion-content [fullscreen]="true">
  
  <h1>Destacadas</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let news of newsDestacadas">
      <ion-card>
        <img src={{news.imagen}}/>
        <ion-card-header>
          <ion-card-title>{{news.nombre}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <h1>Noticias</h1>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="bandera">
    <ion-card *ngFor="let news of newsList">
        <img src={{news.imagen}}/>
        <ion-card-header>
          <ion-card-subtitle>{{news.resumen}}</ion-card-subtitle>
          <ion-card-title>{{news.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{news.detalle}}
          <ion-button (click)="saveNews(news)">Guardar</ion-button>
          <ion-button (click)="detailNews(news)">detalle</ion-button>
        </ion-card-content>
      </ion-card>

  </ion-list>

  <div *ngIf="!bandera">
    <br>
    <h3>Debes seleccionar una cateoria</h3>
  </div>

</ion-content>
