<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categorias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center">
    <ion-chip outline color="primary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Cooperativa</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="secondary">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Eps</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="tertiary">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Medicina Prepagada</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="dark">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Bancoomeva</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </div>

</ion-content>
